{% extends "email/email_layout.html" %}
{% block main %}
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">

        Hi {{ name }},
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Thank you for {{ join }} Woodley Park Archers. Your membership number is {{ id }}.
        This email confirms your purchase and your membership.
    </p>
        {% for f in fam %}
            <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">{{ f }}</p>
        {% endfor %}


    <table style="font-family: arial, sans-serif; border-collapse: collapse; color: black; margin: 10px;">
        <tr>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Item
            </th>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Quantity
            </th>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Amount Each
            </th>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Amount
            </th>
        </tr>

        {% for row in lines %}
            <tr>
                <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row.name }}
                </td>
                <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row.quantity }}
                </td>
                <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row.amount }}
                </td>
                <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row.cost }}
                </td>
            </tr>
        {% endfor %}

        <tr>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
            Total
            </td>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">

            </td>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">

            </td>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                {{ total }}
            </td>
        </tr>
    </table>
    <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        {{ receipt }}
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Please read the letter from our president below.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Sam Amundson<br>
        Membership Chair<br>
        Woodley Park Archers
    </p>
    <br>

    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        <a href="http://woodleyparkarchers.org/">WoodleyParkArchers.org</a>
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        <a href="http://www.facebook.com/pages/Woodley-Park-Archers/131056656971079">Facebook: Woodley Park Archers</a>
    </p>
    <img src="cid:photo" />
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        On behalf of the officers and members at large of the Board of Directors of the Woodley Park Archers, I would like to welcome you to the club and thank you for your membership.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        The Woodley Park Archers have a long and rich history, since the club's formation in 1984. As you may know, the Woodley Park Archery Range was built in 1984 by the Easton Foundation to serve as a practice facility for the 1984 Los Angeles Olympics. At that time, the club was founded to provide fellowship among local archers and service to the City of Los Angeles, the United States Army Corps of Engineers, and the Easton Foundation in the maintenance of the range facility. To this date, the range continues to be regularly maintained by the volunteer efforts of members of the Woodley Park Archers with the support of the Easton Sports Development Foundation.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        In addition to maintaining our facility, our club is dedicated to providing a quality archery instruction program to the community, promoting safety, sportsmanship and the highest level of excellence in archery. We are very proud of our club and our successful program, which has received commendation from the Mayor and City Council of the City of Los Angeles. Your membership will provide great support to the club in pursuit of its mission and achievement of its goals.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Please make sure to come by the range to pick up your Membership Card and WPA Member's Quiver Pin.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        We look forward to meeting you and thanks again for your support. See you at the range!
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;"></p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Sincerely,
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Wayne Shaphran
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        President, Woodley Park Archers
    </p>
{% endblock %}