{% extends "email/email_layout.html" %}
{% block main %}
        <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
                    Hi,<br>
        </p>
        <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
            Thank you for applying with Woodley Park Archers. Your member number is {{ values['id'] }}.
            Your renewal code is <strong>{{ email_code }}</strong> please click below to complete your renewal.
        </p>
        <a href="{{values['site']}}/renew?e={{ values['email'] }}&c={{ values['renew_code'] }}">
             <button style="margin: 10px;" type="button">Complete Renewal</button>
        </a>
        <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
            Or you can go to <a href="{{ site }}/renew">WoodleyParkArchers.org/email_verify</a> and enter your code. <br>
        </p>
        <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
                    Sam Amundson<br>
                    Membership Chair<br>
                    Woodley Park Archers<br>
                    <a href="http://woodleyparkarchers.org/">WoodleyParkArchers.org</a>
        </p>
{% endblock %}
