{% extends 'registration/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block left %}

{% endblock %}

{% block main %}
    <form method="post" action="." autocomplete="off" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="input-group input-group-md">
                {{ form.start_date }}
            </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                {{ form.state }}
            </div>
        </div>

        <div class="row">
                <button class="btn btn-primary m-2" type="submit" id="id_submit">Register </button>
        </div>
    </form>

{% endblock %}
