{% extends 'registration/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block script %}
    {{ form.media }}
{% endblock %}

{% block main %}
    <!--suppress XmlInvalidId -->
<div class="row" message_text="{{ message }}" reg_link="{% url 'registration:reg_values' %}" hidden id="message"><h3>"{{ message }}"</h3></div>
<!--    <form action="{% url 'registration:register' %}" method="post" class="form" name="form1" autocomplete="off">-->
    <form method="post" action="." autocomplete="off" class="form">
        {% csrf_token %}
        <div class="row">
            <div class="input-group input-group-md">
                {{ form.first_name }}
                {{ form.last_name }}
            </div>
        </div>

        <div class="row">
                <div class="input-group input-group-md">
                    {{ form.street }}
                </div>
        </div>

        <div class="row">
                <div class="input-group input-group-md">
                    {{ form.city }}
                    {{ form.state }}
                    {{ form.post_code }}
                </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                {{ form.email }}
                {{ form.phone }}
            </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md" id="dob_div">

                <label for="id_dob">Date of Birth:</label>
                {{ form.dob }}
            </div>
            <div class="input-group input-group-md">
                <label for="id_level">Membersip Level:</label>
                {{ form.level }}
                <label></label>
            </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                <label for="id_joad">Select a start date to register for a JOAD Session:</label>
                    {{ form.joad }}
                <label></label>
            </div>
        </div>

        <div class="row">
            <div class="custom-control custom-checkbox m-3">
                {{ form.benefactor }}
                <label class="custom-control-label" for="id_benefactor">Benefactor</label>
            </div>
        </div>

        <div class="row" >
            <div class="custom-control custom-checkbox m-3">
                {{ form.terms }}
                <label class="custom-control-label" for="id_terms">I agree to the terms and conditions</label>
            </div>
        </div>

        <div class="row">
            <h3 id="cost" cost_link="{% url 'registration:cost_values' %}">Total Cost:</h3>
        </div>

        <div class="row">
            <button class="btn btn-primary m-2" type="submit" id="id_submit">Register </button>
        </div>
    </form>

    <form action="{% url 'registration:fam_done' %}" method="post" class="form" name="form2"></form>
{% load static %}
    <script type="text/javascript" src="{% static 'registration/register.js' %}"></script>
{% endblock %}