{% extends 'registration/base.html' %}

{% block title %}
    Register
{% endblock %}

{% block script %}
    {{ form.media }}
{% load static %}
<script type="text/javascript" src="{% static 'registration/register.js' %}"></script>
{% endblock %}

{% block main %}
    <!--suppress XmlInvalidId -->
<div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <form method="post" action="." autocomplete="off" class="form">
        {% csrf_token %}
        {{ formset.management_form }}


        <div class="row" id="app">
            <div id="before_me"></div>
        </div>
        <div class="row" id="add_button_div">
            <button class="btn btn-primary m-2" type="button" id="id_btn_add_row">Add Member</button>
        </div>

        <div class="row pt-2">
                <div class="input-group input-group-md">
                    {{ membership_form.street }}
                </div>
        </div>

        <div class="row">
                <div class="input-group input-group-md">
                    {{ membership_form.city }}
                    {{ membership_form.state }}
                    {{ membership_form.post_code }}
                </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                {{ membership_form.email }}
                {{ membership_form.phone }}
            </div>
        </div>

        <div class="row">

            <div class="input-group input-group-md">
                <label for="id_level">Membersip Level:</label>
                {{ membership_form.level }}
            </div>
        </div>


        <div class="row">
            <div class="custom-control custom-checkbox m-3">
                {{ membership_form.benefactor }}
                <label class="custom-control-label" for="id_benefactor">Benefactor</label>
            </div>
        </div>

        <div class="row" >
            <div class="custom-control custom-checkbox m-3">
                {{ membership_form.terms }}
                <label class="custom-control-label" for="id_terms">I agree to the terms and conditions</label>
            </div>
        </div>

        <div class="row">
            <h3 id="cost" cost_link="{% url 'registration:cost_values' %}">Total Cost:</h3>
        </div>

        <div class="row">
            <button class="btn btn-primary m-2" type="submit" id="id_submit">Register </button>
        </div>
    </form>

    <script type="text/x-template" id="member-form-template">
        <div class="row" id="form-div-__prefix__">
            <div class="row input-group input-group-md">
                <div class="col border  mx-auto">
                    {{ formset.empty_form.first_name }}
                </div>
                <div class="col border  mx-auto">
                    {{ formset.empty_form.last_name }}
                </div>
                <div class="col border mx-auto">
                    {{ formset.empty_form.dob }}
                </div>
                <button class="btn btn-danger member_button" id="id_member_button-__prefix__" form_id="__prefix__">Delete</button>

            </div>
            <div class="row input-group input-group-md border" id="form-div-__prefix__-joad">

                <div class="col">To register for a JOAD session select start date:</div>
                <div class="col">
                    {{ formset.empty_form.joad }}
                </div>

            </div>
        </div>
    </script>
{% endblock %}