{% extends "layout.html" %}

{% block title %}
    Verify Email
{% endblock %}

{% block main %}
    <form action="/email_verify" method="post" class="form" name="form1" onsubmit="return checkValidation()">
        <div class="row">
            <div class="input-group input-group-md">
                <input autocomplete="off"  class="form-control m-2" name="email" placeholder="Email" type="text"  id="email" size="100"  onchange="ValidateEmail(document.form1.email)" value={{ email }}>
            </div>
            <div class="input-group input-group-md">
                <input autocomplete="off"  class="form-control m-2" name="vcode" placeholder="Code" type="text"  id="vcode" size="100" onchange="reg_check('vcode')" value={{ vcode }}>
            </div>
        </div>

        <div class="row">
                <button class="btn btn-primary m-2" type="submit" id="renew">Find </button>
        </div>
    </form>

{% endblock %}
