{% extends "layout.html" %}

{% block title %}
    Search Quote
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-sm-1">Symbol</div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">Shares</div>
        <div class="col-sm-3">Price Each</div>
        <div class="col-sm-3">Total</div>
    </div>
    <!--{% for row in rows %}-->
    <!--    <div class="row">-->
    <!--        <div class="col-sm-1"> {{ row["symbol"] }} </div>-->
    <!--        <div class="col-sm-1"><a href="/buy?symbol={{ row["symbol"] }}">Buy</a></div>-->
    <!--        <div class="col-sm-1"><a href="/sell?symbol={{ row["symbol"] }}">Sell</a></div>-->
    <!--        <div class="col-sm-3">{{ row["shares"] }}</div>-->
    <!--        <div class="col-sm-3">{{ row["price"] }}</div>-->
    <!--        <div class="col-sm-3">{{ row["total"] }}</div>-->
    <!--    </div>-->
    <!--{% endfor %}-->
    <!--<div class="row">-->
    <!--    <div class="col-sm-12"></br></div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--    <div class="col-sm-3">Available Cash: {{cash}}</div>-->
    <!--    <div class="col-sm-9"></br></div>-->
    <!--</div>-->
{% endblock %}