{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block left %}
        <form action="/reset" method="post" class="form" name="form2">
        <div class="row">
            <h6>When done adding family members click the "Done" button below.</h6>
        </div>
        <div class="row">

            <table style="width:100%">
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
                {% for row in rows %}
                    <tr>
                        <td>{{row["id"]}}</td>
                        <td>{{row["first_name"]}}</td>
                        <td>{{row["last_name"]}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
                <button class="btn btn-primary m-2" type="submit" id="fam_done">Done </button>
        </div>
    </form>
    <div name="debugtext" id="debugtext">

    </div>
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="form" name="form1" onsubmit="return checkValidation()">
        <div class="row">
            <div class="input-group input-group-md">
                <input autocomplete="off" autofocus class="form-control m-2" name="first_name" placeholder="First Name"
                       type="text" onchange="reg_check('first_name')" id="first_name">
                <input autocomplete="off" class="form-control m-2" name="last_name" placeholder="Last Name"
                       type="text" onchange="reg_check('last_name')" id="last_name">
            </div>
        </div>

        <div class="row">
                <div class="input-group input-group-md">
                    <input autocomplete="off" class="form-control m-2" name="street" placeholder="Address"
                           type="text" onchange="reg_check('street')" id="street" size="100" >
                </div>
        </div>

        <div class="row">
                <div class="input-group input-group-md">
                    <input autocomplete="off"  class="form-control m-2" name="city" placeholder="City"
                           type="text"  id="city" size="40" onchange="reg_check('city')">

                    <input autocomplete="off"  class="form-control m-2" name="state" placeholder="State" type="text"  id="state" maxlength="2" onchange="reg_check('state')">

                    <input autocomplete="off"  class="form-control m-2" name="zip" placeholder="Zip" type="text"  id="zip" size="10" onchange="zip_check(document.form1.zip)">
                </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                <input autocomplete="off"  class="form-control m-2" name="email" placeholder="Email" type="text"  id="email" size="100" onchange="ValidateEmail(document.form1.email)">
                <input autocomplete="off"  class="form-control m-2" name="phone" placeholder="Phone" type="text"  id="phone" size="20" onchange="phone_check(document.form1.phone)">
            </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md" id="dob_div">

                <label for="dob">Date of Birth:</label>
                <input autocomplete="off" class="form-control m-2" name="dob" placeholder="Date of Birth" type="date" id="dob" onchange="dob_check('dob')">
            </div>
            <div class="input-group input-group-md">
                <label for="level">Membersip Level:</label>
                <select name="level" id="level" class="m-2" onchange="reg_level_check(document.form1.level)">
                    <option value="invalid" selected disabled>Membership Level</option>
                    <option value="standard">Standard</option>
                    <option value="family">Family</option>
                    <option value="joad">JOAD</option>
                    <option value="senior">Senior</option>
                </select>
                <label></label>
            </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                <label for="joad">Select a start date to register for a JOAD Session:</label>
                    <select name="joad" id="joad" class="m-2" onchange="calculate_cost()">
                        <option value="None" selected >None</option>
                        {% for row in joad_sessions %}
                            <option value={{row["start_date"]}}>{{row["start_date"]}}</option>
                        {% endfor %}
                    </select>
                <label></label>
            </div>
        </div>

        <div class="row">
            <div class="custom-control custom-checkbox m-3">
                <input class="form-control m-2 custom-control-input" name="benefactor" type="checkbox" id="benefactor" onchange="calculate_cost()">
                <label class="custom-control-label" for="benefactor">Benefactor</label>
            </div>
        </div>

        <div class="row" >
            <div class="custom-control custom-checkbox m-3">
                <input class="form-control m-2 custom-control-input" name="terms" type="checkbox" id="terms" onchange="checkValidation()">
                <label class="custom-control-label" for="terms">I agree to the terms and conditions</label>
            </div>
        </div>

        <div class="row" >
            <h3 id="cost">Total Cost:</h3>
        </div>

        <div class="row">
                <button class="btn btn-primary m-2" type="submit" id="reg">Register </button>
        </div>
    </form>





<script src="static/register.js"></script>

{% endblock %}


<!--onload="register_onload()"-->