{% extends "layout.html" %}

{% block title %}
    Renew
{% endblock %}

{% block main %}

    <div class="row">

        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>

        {% for row in rows %}
            <tr>
                <td><a class="nav-link" href="/quote">Quote</a>{{row["id"]}}</td>
                <td>{{row["first_name"]}}</td>
                <td>{{row["last_name"]}}</td>
            </tr>
        {% endfor %}

    </div>


{% endblock %}
