<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          font-color: black;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        p {
        margin-bottom: 0in;
        line-height: 100%;
        align: left;
        font-family: arial, sans-serif;
        font-size: 14px;
        font-color: black;
        }
    </style>
</head>
<body>
{% block main %}{% endblock %}
</body>
</html>