{% extends "email/email_layout.html" %}
{% block main %}
    <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
                Hi,<br>
    </p>
    <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
                Thank you for supporting Woodley Park Archers. This email confirms your purchase for the items below. <br>
    </p>
    <table style="font-family: arial, sans-serif; border-collapse: collapse; color: black; margin: 10px;">
        <tr>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Item
            </th>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Quantity
            </th>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Amount Each
            </th>
            <th style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Amount
            </th>
        </tr>

        {% for row in rows %}
            <tr>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                {{ row['name'] }}
                </td>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row['quantity'] }}
                </td>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row['amount']/100 }}
                </td>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ row['quantity'] * row['amount']/100 }}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                Total
                </td>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">

                </td>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">

                </td>
                <td style="border: 1px solid #e9e9e9; text-align: left; padding: 8px;">
                    {{ values['total']/100 }}
                </td>
            </tr>
    </table>
    <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        {{ values['receipt'] }}
    </p>
    <p style="margin-bottom: 0in; line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">

                Sam Amundson<br>
                Membership Chair<br>
                Woodley Park Archers<br>
                <a href="http://woodleyparkarchers.org/">WoodleyParkArchers.org</a>
    </p>
{% endblock %}